extends ./layouts/base.jade

append head
  title Geolink
  link(rel="stylesheet" href="/css/dashboard.min.css")

block header
  +top-bar('fixed')

block content
  div.row
    div.small-12.medium-6.large-4.columns.twitter
      div.card
        div.content
          div.title
            span.fa.fa-twitter
            span  Twitter
          div
            p
              strong nº venues
              span : #{twitter.distinct_id || 0}
            p
              strong last update
              span : #{twitter.max_datetime ? twitter.max_datetime.toUTCString() : '-'}
        div.action
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.facebook
      div.card
        div.content
          div.title
            span.fa.fa-facebook
            span  Facebook
          div
            p
              strong nº venues
              span : #{facebook.distinct_id || 0}
            p
              strong last update
              span : #{facebook.max_datetime ? facebook.max_datetime.toUTCString() : '-'}
        div.action
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.foursquare
      div.card
        div.content
          div.title
            span.fa.fa-foursquare
            span  Foursquare
          p
            strong nº venues
            span : #{foursquare.distinct_id || 0}
          p
            strong last update
            span : #{foursquare.max_datetime ? foursquare.max_datetime.toUTCString() : '-'}
        div.action
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.yelp
      div.card
        div.content
          div.title
            span.fa.fa-yelp
            span  Yelp
          div
            p
              strong nº venues
              span : #{yelp.distinct_id || 0}
            p
              strong last update
              span : #{yelp.max_datetime ? yelp.max_datetime.toUTCString() : '-'}
        div.action
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.tripadvisor
      div.card
        div.content
          div.title
            span.fa.fa-tripadvisor
            span  Tripadvisor
          div
            p
              strong nº venues
              span : #{tripadvisor.distinct_id || 0}
            p
              strong last update
              span : #{tripadvisor.max_datetime ? tripadvisor.max_datetime.toUTCString() : '-'}
        div.action
          div.list
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.michelin
      div.card
        div.content
          div.title
            span.fa.fa-cutlery
            span  Michelin
          div
            p
              strong nº venues
              span : #{michelin.distinct_id || 0}
            p
              strong last update
              span : #{michelin.max_datetime ? michelin.max_datetime.toUTCString() : '-'}
        div.action
          div.list
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.repsol
      div.card
        div.content
          div.title
            span.fa.fa-cutlery
            span  Repsol
          div
            p
              strong nº venues
              span : #{repsol.distinct_id || 0}
            p
              strong last update
              span : #{repsol.max_datetime ? michelin.max_datetime.toUTCString() : '-'}
        div.action
          div.list-pages
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
          div.list-restaurants
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%
          div.venues
            div.button-group.small.align-center
              button.button.update Update
              button.button.stop.disabled Stop
            div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
              span.progress-meter
                p.progress-meter-text 0%

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/dashboard.min.js")